.cta-container{
    display: flex;
    flex-direction: column;
    gap: 4rem;
    align-items: center;
    justify-content: center;
    background-color: #343434;
    border-radius: 10px;
    padding: 1rem;
}
.cta-container h2{
    font-size: var(--fs-300);
    font-weight: normal;
}


@media(min-width: 768px) {
    .cta-container{
        flex-direction: row;
        flex-wrap: wrap;
        gap: 1rem;
    }
    .cta-text{
        flex: 1.5;
    }
    .cta-text h2{
        font-size: 2rem;
        text-align: left;
    }
    .cta-text a{
    margin-left: 0;
}
    .cta-img-container{
        flex: 2;
    }
}

