 h1{
    font-size: 2.5rem;
    line-height: 1;
}
.hero p{
   font-size: 1rem;
   max-width: 45ch;
   margin-inline: auto;
}
.hero .btn-group{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: min(50%, 30rem);
    margin-top: 2rem;
    margin-inline: auto;
}
.btn-group a{
    width: 182px;
}
.img-group{
     background: linear-gradient(
    rgba(24, 24, 24, 0.5) 0%,
    rgba(24, 24, 24, 0.7) 30%,
    rgba(0, 0, 0, 1) 100%
  );
  padding: 1rem 0;
  
}
.img-group img{
    width: min(100%, 50rem);
    margin-inline: auto;
}
@media(min-width: 768px) {
    .hero .btn-group{
        flex-direction: row;
    }
}