.testimonials-card-container{
    flex-wrap: wrap;
}
.testimonials-card-container > div{
    border: 1px solid var(--clr-light);
    padding: 1rem 2rem;
    border-radius: 10px;
    text-align: left;
    max-width: 400px;
}
.testimonial-top{
    display: flex;
    gap: 1rem;
    align-items: center;
}
.testimonial-img-container{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.testimonial-img-container img{
    border-radius: 50%;
}
.testimonials-card-container > div > p{
    margin-top: 2rem;
}
.testimonial-name{
    font-weight: bold;
}
.testimonial-name span{
    display: block;
    font-weight: 400;
}

